@model IEnumerable<Localidade>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Lista de Localidades</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12">
                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">

                        <thead>
                            <tr>
                                <th rowspan="1" colspan="1">Id</th>
                                <th rowspan="1" colspan="1">Nombre</th>
                                <th rowspan="1" colspan="1">Gusto más vendido</th>
                                <th rowspan="1" colspan="1">Lista de Sucursales</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var localidade in Model)
                            {
                                <tr>
                                    <td>@localidade.IdLocalidad</td>
                                    <td>@localidade.NombreLocalidad</td>
                                    <td>gusto mas vendido</td>
                                    <td>
                                        <a asp-controller="Sucursales" asp-action="SucursalesPorLocalidad" asp-route-idLocalidad="@localidade.IdLocalidad">
                                            Sucursales en @localidade.NombreLocalidad
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>


                    </table>
                </div>
            </div>
        </div>
    </div>

