@model IEnumerable<WebHeladeria.Models.VentasDetalle>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Gustos vendidos en @ViewBag.NombreSucursal</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12">
                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">

                        <thead>
                            <tr>
                                <th>Id Gusto</th>
                                <th>Nombre Gusto</th>
                                <th>Cantidad Vendida</th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                foreach (var ventaDetalle in Model)
                                {
                                    <tr>
                                        <td>@ventaDetalle.IdGustoNavigation.IdGusto</td>
                                        <td>@ventaDetalle.IdGustoNavigation.NombreGusto</td>
                                        <td>@ventaDetalle.Cantidad</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="3">No se encontraron gustos vendidos para esta sucursal.</td>
                                </tr>
                            }
                        </tbody>


                    </table>
                </div>
            </div>
        </div>
    </div>
